/**
 * Colors variables.
 */
$black: #000000;

$gray1: #5c7080;
$gray2: #8b9798;
$gray3: #a7b6c2;

$lightGray1: #f0f0f0;

$white: #ffffff;

$primaryColor: #603065;
$primaryColorLight: mix($white, $primaryColor, 30%);
